@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono'); 

body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    min-height: 100vh;
}

.banner {
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 100vh;
    max-width: 100vw;
}

.banner h1{
    font-size: 5em;
    font-family: 'Share Tech Mono';
    -webkit-text-stroke: .1px white;
}

.about{
    display: flex;
    justify-content: center;
}

.about .me{
    display: flex;
    align-items: center;
    width: 94%;
    height: 13vw;
    background-color: #fffb25;
    -ms-transform: skewX(-18deg);
    -webkit-transform: skewX(-18deg);
    transform: skewX(-18deg);
    box-shadow: 0.5vw 0 55px 0 rgba(0,0,0,.2);
}

.about .me h1{
    font-size: 9vw;
    font-style: italic;
    font-family: 'Share Tech Mono';
    margin: 0;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    letter-spacing: 1vw;
    padding-left: 2vw;
    position: relative;
    pointer-events: none;
}

.about.blastAnim .me h1{
    animation: blastOff .5s cubic-bezier(0.4, 0, 0.2, 1) 1; 
}

.work{
    display: flex;
    justify-content: center;
}

.work .projects{
    display: flex;
    align-items: center;
    width: 94%;
    height: 13vw;
    background-color: #5cf0b7;
    -ms-transform: skewX(18deg);
    -webkit-transform: skewX(18deg);
    transform: skewX(18deg);
    box-shadow: 0.5vw 0 55px 0 rgba(0,0,0,.2);
}

.work .projects h1{
    font-size: 9vw;
    font-style: italic;
    font-family: 'Share Tech Mono';
    margin: 0;
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    letter-spacing: 1vw;
    padding-left: 2vw;
    position: relative;
    pointer-events: none;
}

.work.blastAnim .projects h1{
    animation: blastOff .5s cubic-bezier(0.4, 0, 0.2, 1) 1; 
}

.tech{
    display: flex;
    justify-content: center;
}

.tech .nology{
    display: flex;
    align-items: center;
    width: 94%;
    height: 13vw;
    background-color: #f05c70;
    -ms-transform: skewX(-18deg);
    -webkit-transform: skewX(-18deg);
    transform: skewX(-18deg);
    box-shadow: 0.5vw 0 55px 0 rgba(0,0,0,.2);
}

.tech .nology h1{
    font-size: 9vw;
    font-style: italic;
    font-family: 'Share Tech Mono';
    margin: 0;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    letter-spacing: 1vw;
    padding-left: 2vw;
    position: relative;
    pointer-events: none;
}

.tech.blastAnim .nology h1{
    animation: blastOff .5s cubic-bezier(0.4, 0, 0.2, 1) 1; 
}

.contact{
    display: flex;
    justify-content: center;
}

.contact .info{
    display: flex;
    align-items: center;
    width: 94%;
    height: 13vw;
    background-color: #5cb5f0;
    -ms-transform: skewX(18deg);
    -webkit-transform: skewX(18deg);
    transform: skewX(18deg);
    box-shadow: 0.5vw 0 55px 0 rgba(0,0,0,.2);
}

.contact .info h1{
    font-size: 9vw;
    font-style: italic;
    font-family: 'Share Tech Mono';
    margin: 0;
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    letter-spacing: 1vw;
    padding-left: 2vw;
    position: relative;
    pointer-events: none;
}

.contact.blastAnim .info h1{
    animation: blastOff .5s cubic-bezier(0.4, 0, 0.2, 1) 1; 
}


@keyframes blastOff {
    0% {
        left: 0px;
    }
    50%{
        left: 3500px;
    }
    100% {
        left: 0px;
    }
}